*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --D_Grey: #4D4D4D;
    --Silver: #C0C0C0;
    --Brand_Primary: #4CAF4F;
    --White: #FFFFFF
}

body{
    background: #fff;
    height: 100dvh;
    width: 100%;
    color: #4D4D4D;
    font-family: "Inter", "Inter Semi Bold", sans-serif;

}

a {
    text-decoration: none;
    color: var(--D_Grey);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 20%;
}



header nav ul{
    display: flex;
    align-items: end;
    list-style: none;
}

header nav ul li{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 15px;
}

.grey-bg{
    background: var(--Silver);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Brand_Primary);
    color: var(--White);
    border: none;
}

strong{
    color: var(--Brand_Primary);
    font-weight: bold;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
}
