*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --D_Grey: #4D4D4D;
    --Silver: #F5F7FA;
    --Brand_Primary: #4CAF4F;
}

body{
    background: #fff;
    height: 100dvh;
    width: 100%;
    color: #4D4D4D;
}

a {
    text-decoration: none;
    color: var(--D_Grey);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 80%;
}

header nav{
    display: flex;
    align-items: end;
    padding: 20px 22px;
}

header nav ul{
    display: flex;
    align-items: end;
    list-style: none;
}

header nav ul li{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 15px;
}

.grey-bg{
    background: var(--Silver);
}