:root{
    --brand_primary: #4CAF4F;
    --d_grey: #4D4D4D;
    --grey: #717171;
    --silver: #C0C0C0;
    --white: #FFFFFF;
    --neutral-black: #263238;
    --font-main: 'Inter', sans-serif;
}

/*-- Basic reset --*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-- Base --*/

body{
    background: var(--white);
    height: 100dvh;
    width: 100%;
    color: var(--neutral-black);
    font-family: "Inter", "Inter Semi Bold", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--d_grey);
    transition: color 0.3s ease;
}

img{
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5 {
    color: var(--neutral-black);
    font-weight: 600;
}

h2{
    font-size: 2rem;
    margin-top: 1rem;
}

p{
    color: var(--grey);
    margin-bottom: 1rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.bg-silver{
    background: var(--silver);
}

strong{
    color: var(--brand_primary);
    font-weight: bold;
}

/* Buttons */
.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: var(--brand_primary);
    color: var(--white);
}

.btn-primary:hover {
    transform: translateY(-2px);
}

.btn-primary:focus {
    transform: translateY(-2px);
    outline-color: var(--neutral-black);
}


.btn--ghost {
    color: var(--brand_primary);
    font-weight: 600;
    padding: 0.8rem 0;
}

.btn--ghost:hover {
    color: #3e8e41;
    background-color: var(--silver);
    border: 1px solid var(--brand_primary);
}

.btn--ghost:focus {
    outline-color: var(--neutral-black);
}

.btn--ghost:active {
    border: none;
}

.header {
    background: var(--white);
    height: 80px;
    display: flex;
    align-items: center;
    /*position: sticky;*/
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.nav__link:hover{
    color: var(--brand_primary);
    text-decoration: underline var(--brand_primary);
}

.nav__link:focus{
    color: var(--brand_primary);
    text-decoration: underline var(--brand_primary);
    outline-color: var(--grey);
}

/*-- Hero section --*/
.hero{
    padding: 5rem 0;
    text-align: start;
}

.hero__container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 2rem;
}

.hero__text h1{
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

/*-- Clients section -- */
.clients{
    text-align: center;
    padding: 3rem 0;
}

.clients__logos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 2.5rem;
}

.clients__logos img{
    filter: grayscale(100%);
}

/*-- Community section -- */
.community{
    padding: 3rem 0;
}

.community__header{
    max-width: 800px;
    margin: 0 auto 3rem;
}

.community__grid{
    margin-top: 2rem;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: var(--white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card:hover{
    transform: translateY(-5px);
}

.card__icon {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

/*-- Feature block (Shared to Pixelgrade and login) --*/
.feature-block{
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem 0;
}

.feature-block__image{
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 400px;
}

/* --- STATS --- */
.stats {
    padding: 4rem 0;
}

.stats__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.stats__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

.stat-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/*.stat-item img{*/
/*    width: 1000px;*/
/*    height: 150px;*/
/*}*/

.stat-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

/* --- TESTIMONIAL --- */
.testimonial {
    padding: 2rem 0;
}

.testimonial__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    padding: 2rem 0;
}

.testimonial__footer {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.testimonial__logos {
    display: flex;
    gap: 1.5rem;
}

/* --- BLOG --- */
.blog {
    padding: 4rem 0;
    text-align: center;
}

.blog__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.blog-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden; /* optional */
}

.blog-card__img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.blog-card__content {
    background: var(--white);
    padding: 1.5rem;
    margin: -4rem auto 1rem; /* Margen negativo para solapar */
    width: 90%;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.blog-card__content h4 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

/* --- CTA --- */
.cta {
    padding: 4rem 0;
    text-align: center;
}

.cta__container h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}


.footer {
    text-align: start;
    background-color: var(--neutral-black);
    color: var(--white);
    padding: 4rem 0 2rem;
}

.footer__container {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    gap: 3rem;
}

.footer__brand p {
    color: var(--silver);
    margin: 1.5rem 0;
    font-size: 0.8rem;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__socials a {
    background: rgba(255,255,255,0.1);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0.9rem;
    color: var(--white);
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer__col h4 {
    color: var(--white);
    margin-bottom: 1rem;
}

.footer__col ul li {
    margin-bottom: 0.8rem;
    list-style: none;
}

.footer__col ul li a {
    color: #dbdbdb;
    font-size: 0.8rem;
}

.footer__form {
    display: flex;
    background: rgba(255,255,255,0.1);
    border-radius: 4px;
    padding: 0.3rem;
}

.footer__form input {
    background: transparent;
    border: none;
    color: white;
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

.footer__form button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 0.5rem;
}